[Unit]
Description=Gunicorn instance to serve AirBnB_clone_v4
After=network.target

[Service]
User=your_username
Group=your_group
WorkingDirectory=/path/to/AirBnB_clone_v4
ExecStart=/path/to/venv/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 --error-logfile /tmp/airbnb-error.log --access-logfile /tmp/airbnb-access.log web_dynamic.2-hbnb:app
Restart=always

[Install]
WantedBy=multi-user.target
